build/
build-coverage/

# Nix build output symlink
result

# certificates
cert/*
!cert/example/
certbot/

# LSP and IDE
.idea/
.cache/
.vscode/
.clangd
compile_commands.json

# CMake
cmake-build-debug/

# CTest results
Testing/

# VCPKG Overlay Ports
overlays/

# direnv directory
.direnv
