build/
.idea/

# certificates
cert/*
!cert/example/
certbot/

# LSP and IDE
.cache/
.vscode/
.clangd
compile_commands.json

# CMake
cmake-build-debug/

# CTest results
Testing/

# VCPKG Overlay Ports
overlays/

# direnv directory
.direnv
